
body{
    background-color: rgba(32,32,32);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: lime;
    font-size: 24px;
}

a:hover{
    color: white;
}

#return_button {
    top: 5px;
    left: 5px;
}

#seed_save{
    background-color: green;
    color: white;
}